@font-face {
	font-family: "kirang-haerang";
	src: url( '../_assets/fonts/BMKIRANGHAERANG-TTF.ttf') format( 'truetype');
};

@font-face {
	font-family: "hack";
	src: url( '../_assets/fonts/Hack-Regular.ttf') format( 'truetype');
};
